//сэй гудбай
* {
    color: #fff;
}
.footer {
    background: #1738A0; 
width: auto;
height: 944px;  
}

.footer-nav__columns {
    display: flex;
    padding: 26px 29px;
}

.footer-nav__column {
    padding: 34px;
}

.footer-nav__title {
    padding: 13px;
    font-size: 16px;
    font: #fff
}