$mainColor: #1738A0;

.l-header__top {
  width: 100%;
  height: 100px;
  @media screen and (max-width: 630px) {
    height: 68px;
  }
}
.l-header__top-flex {
  height: 100%;
}
.l-header__top-mobile__menu {
  display: none;
  height: 100%;
  @media screen and (max-width: 1240px) {
    display: flex;
    align-items: center;
  }
}
.l-impaired__button {
  max-width: 270px;
  a {
    display: flex;
    align-items: center;
    padding: 15px 20px 13px 20px;
    border: 1px solid #1738A0;
    box-sizing: border-box;
    border-radius: 10px;
    svg {
      margin-right: 10px;
      margin-top: 0;
    }
    span {
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      color: #1738A0;
      white-space: nowrap;
    }
  }
}
.l-header__top-left {
  height: 100%;
  width: 50%;
  @media screen and (max-width: 960px) {
    width: 100%;
  }
  @media screen and (max-width: 630px) {
    width: auto;
  }
}
.l-header__top-left__logo {
  height: 100%;
  display: flex;
  align-items: center;
  a {
    display: flex;
    align-items: center;
  }
  span {
    font-family: PTSerif;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: $mainColor;
    margin-left: 14px;
    @media screen and (max-width: 960px) {
      margin-left: 10px;
    }
    @media screen and (max-width: 630px) {
      display: none;
    }
  }
  @media screen and (max-width: 630px) {
    justify-content: center;
  }
}
.svg-logo {
  width: 53px;
  height: 53px;
  margin-top: 3px;
  @media screen and (max-width: 960px) {
    width: 46px;
    height: 46px;
  }
  @media screen and (max-width: 630px) {
    width: 40px;
    height: 40px;
  }
}
.l-header__top-right {
  height: 100%;
  width: 100%;
  @media screen and (max-width: 630px) {
    width: auto;
  }
}
.l-header__top__right-service__links {
  height: 100%;
  @media screen and (max-width: 630px) {
    justify-content: center;
  }
}
.l-service__links {
  height: 100%;
}
.l-service__links-impaired {
  margin-right: 40px;
  span {
    margin-left: 10px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: $mainColor;
  }
  @media screen and (max-width: 1240px) {
    margin-right: 20px;
  }
  @media screen and (max-width: 960px) {
    display: none;
  }
}
.svg-eye_glasses {
  width: 29px;
  height: 22px;
  margin-top: 3px;
}
.l-service__links-language {
  margin-right: 40px;
  span {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: $mainColor;
    margin-right: 8px;
  }
  @media screen and (max-width: 1240px) {
    margin-right: 20px;
  }
  @media screen and (max-width: 960px) {
    margin-right: 30px;
  }
  @media screen and (max-width: 630px) {
    display: none;
  }
  .is-dropdown-submenu {
    min-width: unset;
  }
  .is-dropdown-submenu-item {
    &:hover {
      background: #1738a0;
      a {
        span {
          color: #FFFFFF;
        }
      }
    }
  }
}
.svg-show_more {
  width: 12px;
  height: 6px;
}
.l-service__links-search {
  margin-right: 40px;
  @media screen and (max-width: 960px) {
    margin-right: 30px;
  }
  @media screen and (max-width: 630px) {
    margin-right: 14px;
  }
}
.svg-search {
  width: 22px;
  height: 22px;
}
.l-service__links-buyTickets {
  @media screen and (max-width: 630px) {
    display: none;
  }
}
.off-canvas {
  .l-service__links-buyTickets {
    display: flex;
    margin-right: 20px;
    .btn-buyTickets:focus {
      color: #FFFFFF;
    }
  }
  .l-service__links-language {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border: 1px solid #1738a0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .l-mobile-menu__btns {
    @media screen and (max-width: 425px) {
      display: flex;
      margin-bottom: 20px;
    }
    display: none;
  }
}
.btn-buyTickets {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 17px 25px 15px 25px;
  background: #EC7708;
  border-radius: 10px;
  &:hover {
    color: #FFFFFF;
  }
  @media screen and (max-width: 960px) {
    padding: 15px 20px 13px;
  }
}

/*header__inner*/
.l-header__inner {
  width: 100%;
  height: 80px;
  background-color: #1738A0;
  position: relative;
  .flex {
    height: 100%;
    align-items: center;
  }
  @media screen and (max-width: 1240px) {
    display: none;
  }
}
.l-header__inner-nav {
  max-width: 1440px;
  width: 100%;
  .dropdown-menu-custom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    li {
      &:last-child {
        margin-right: 0;
      }
      a {
        align-items: center;
        font-size: 18px;
        line-height: 23px;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }
  }
}
.menu-container {
  width: 100%;
  padding: 30px 0;
  background: #1738A0;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.35);
  border: none;
  border-top: 1px solid #566EBB;
  flex-direction: row!important;
  top: 80px;
  left: 0;
}
.is-dropdown-submenu.js-dropdown-active {
  display: grid;
}

.is-dropdown-submenu-parent.opens-right>.is-dropdown-submenu {
  left: 0;
}
.is-dropdown-submenu-parent {
  position: unset;
}
.l-container-nav {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.l-header__inner-nav {
  .dropdown-menu-custom {
    li {
      ul {
        li {
          a {
            padding: 0;
            text-transform: none;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

li.is-active {
  .accordion-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    color: #1738A0;
  }
}
.reveal-overlay {
  background: rgba(0, 0, 0, 0.9);
}
.reveal-search {
  max-width: 1440px;
  padding: 0 70px!important;
  width: 100%;
  background: none!important;
  border: none;
  @media screen and (max-width: 425px) {
    padding: 0 30px!important;
  }
}
button.close-button {
  display: none;
  @media screen and (max-width: 425px) {
    display: block;
  }
}
.reveal-search__container {
  display: flex;
  position: relative;
  align-items: center;
  @media screen and (max-width: 425px) {
    top: 20%!important;
  }
  form {
    width: 100%;
    
  }
  button {
    position: absolute;
    display: flex;
    height: 30px;
    top: 17px;
    right: 0;
    svg {
      position: absolute;
      cursor: pointer;
      right: 10px;
      width: 30px;
      height: 30px;
    }
  }
}
.reveal-search__input {
  background: none!important;
  color: #FFFFFF;
  margin: 0!important;
  border-bottom: 1px solid #d28737!important;
  font-size: 32px!important;
  &::placeholder {
    color: #626262;
  }
}