// hellow ::-webkit-input-placeholder
$mainColor: #1738A0;
$mainColor: #1738A0;
$mainColor: #1738A0;
$mainColor: #1738A0;
$mainColor: #1738A0;
$mainColor: #1738A0;
$mainColor: #1738A0;
$mainColor: #1738A0;
 
