*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: PTSans;
	font-style: normal;
	font-weight: 400;
}
.l-container {
  max-width: 1440px;
	padding: 0 70px;
  margin: 0 auto;
	@media screen and (max-width: 1090px) {
    padding: 0 40px;
  }
	@media screen and (max-width: 425px) {
    padding: 0 15px;
  }
}
.l-title-big-blue {
	margin-bottom: 50px;
	margin-top: 60px;
  @media screen and (max-width: 630px) {
    margin-bottom: 30px;
  }
	h1 {
		font-size: 53px;
		line-height: 70px;
		text-transform: uppercase;
    color: #132F85;
    @media screen and (max-width: 630px) {
      font-size: 28px;
      line-height: 37px;
    }
	}
}
.l-title-sm-blue {
	h1 {
		font-size: 43px;
    line-height: 57px;
		text-transform: uppercase;
    color: #132F85;
    @media screen and (max-width: 630px) {
      font-size: 28px;
      line-height: 37px;
    }
	}
}
.l-title-detail {
	h1 {
		font-size: 53px;
		line-height: 70px;
		text-transform: uppercase;
    color: #FFFFFF;
    @media screen and (max-width: 630px) {
      font-size: 28px;
      line-height: 37px;
    }
	}
}
.l-title-detail-sm {
	margin-bottom: 40px;
	h1 {
		font-family: PTSans;
		color: #04091A;
		text-transform: unset;
		font-size: 43px;
    line-height: 57px;
    text-transform: none;
    @media screen and (max-width: 630px) {
      font-size: 28px;
      line-height: 37px;
    }
	}
}
.l-sm-container {
	padding: 0 140px;
}
.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.--dir-col {
	flex-direction: column;
}

html {
	font-size: 16px;
}

html,
body {
	min-height: 100%;
	position: relative;
}

body {
	font-size: 1rem;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	list-style: none;
	padding: 0;

	font-family: PTSerif;
	font-style: normal;
	font-weight: normal;
}
a {
	font-family: PTSans;
	font-style: normal;
	font-weight: normal;
	transition: .3s;
	&:hover {
		text-decoration: none;
	}
}
h1.lowercase {
	text-transform: unset;
}
.h1-not-margin {
	margin: 0;
}
/*input*/
[type=text]:focus, textarea:focus {
	border: none;
	border-bottom: 1px solid #C4C4C4;
	outline: none;
	box-shadow: none;
	background: #FFFFFF;
}
[type=text] {
	padding: 10px 0;
	margin-bottom: 20px;
	border: none;
	outline: none;
	box-shadow: none;
	border-bottom: 1px solid #C4C4C4;
	font-family: PTSans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
	height: auto;
	background: #FFFFFF;
}
input {
	padding: 10px 0;
	margin-bottom: 20px;
	border: none;
	outline: none;
	box-shadow: none;
	border-bottom: 1px solid #C4C4C4;
	font-family: PTSans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
	height: auto;
	background: #FFFFFF;
}
textarea {
	padding: 10px 0;
	margin-bottom: 20px;
	border: none;
	outline: none;
	box-shadow: none;
	border-bottom: 1px solid #C4C4C4;
	font-family: PTSans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
	height: auto;
	background: #FFFFFF;
}

/*button buy on card*/
.card__header-sold {
	a {
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    background: #149B5A;
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px 18px 10px 18px;
    @media screen and (max-width: 1090px) {
      padding: 8px 10px;
    }
    @media screen and (max-width: 630px) {
      padding: 12px 18px 10px 18px;
    }
		&:hover {
			cursor: not-allowed;
			background: #149B5A;
		}
  }
}