<style>
  * {
    text-decoration: none;
    list-style-type: none;
  }
</style>
<footer class="footer">
  <div class="footer__container">
    <!-- verxnyie kolonki -->
    <nav class="footer-nav__columns" title="navigation">
      <div class="footer-nav__column">
        <h3 class="footer-nav__title"><a href="#">Посетителям</a></h3>
        <ul class="footer-nav__list">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link"
              >Билеты, льготы и беслатные дни</a
            >
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Доступная среда</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Правила посещения</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Здания и часы работы</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Арт-кафея</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Арт-салон</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Библиотека</a>
          </li>
        </ul>
      </div>
      <div class="footer-nav__column">
        <h3 class="footer-nav__title">
          <a href="#">выставки&nbsp;и&nbsp;события</a>
        </h3>
        <ul class="footer-nav__list">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Новости</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Текущие выставки</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Постоянные экспозиции</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Виртуальные выставки</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Архив выставок</a>
          </li>
        </ul>
      </div>
      <div class="footer-nav__column">
        <h3 class="footer-nav__title"><a href="#">Просвещение</a></h3>
        <ul class="footer-nav__list">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Экскурсии</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Творческие мастерские</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Публичные программы</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Лекторий</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Концерты и спектакли</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Музей - детям!</a>
          </li>
        </ul>
      </div>
      <div class="footer-nav__column">
        <h3 class="footer-nav__title"><a href="#">о музее</a></h3>
        <ul class="footer-nav__list">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">История</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Миссия</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Руководство</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Документы</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Профсоюз</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Вакансии</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Контакты</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Часто задаваемые вопросы</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Опрос</a>
          </li>
        </ul>
      </div>
      <div class="footer-nav__column">
        <h3 class="footer-nav__title"><a href="#">Коллекция</a></h3>
        <ul class="footer-nav__list">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link"
              >Русское искусство XVIII - начала XX</a
            >
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link"
              >Отечественное искусство XX - XXI вв.</a
            >
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link"
              >Искусство Якутии XVIII - XXI вв.</a
            >
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link"
              >Зарубежное искусство XVI - начала XX века.</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-nav__column">
        <h3 class="footer-nav__title"><a href="#">наука</a></h3>
        <ul class="footer-nav__list">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Издания и публикации</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Проекты</a>
          </li>
        </ul>
      </div>
      <div class="footer-nav__column">
        <h3 class="footer-nav__title"><a href="#">поддержать&nbsp;музей</a></h3>
        <ul class="footer-nav__list">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Попечительский совет</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Фонд развития</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Сделать пожертвование</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Стать волонтером</a>
          </li>
        </ul>
      </div>
      <div class="footer-nav__column">
        <h3 class="footer-nav__title"><a href="#">пушкинская&nbsp;карта</a></h3>
      </div>
    </nav>
    <!-- allaraanu xuyna -->
    <div class="footer-down-dcrpt">
      <div class="footer-down__button">
        <form action="#" class="footer-down__form">
          <h3 class="footer-form__subtitle">подпишись на новости</h3>
          <label for="" class="footer-form__field">
            <input
              type="email"
              name="email"
              placeholder="Эл.почта"
              class="form-field__input"
            />
          </label>
          <button class="footer-form__button">Подписаться</button>
        </form>
        <div class="footer-form__checkbox">
          <input type="checkbox" name="checkbox" id="" />
          <p class="footer-form__description">
            Подписываясь на рассылку, Вы соглашаетесь с правилами Политики о
            конфиденциальности
          </p>
        </div>
      </div>
    </div>
    >
    <!-- social knopki -->
    <div class="footer-social">
      <div class="footer-social-links">
        <svg class="social-link">
          <use xlink:href="img/sprite.svg#css--facebook"></use>
        </svg>
        <svg class="social-link">
          <use xlink:href="img/sprite.svg#css--telegram"></use>
        </svg>
        <svg class="social-link">
          <use xlink:href="img/sprite.svg#css--twitter"></use>
        </svg>
        <svg class="social-link">
          <use xlink:href="img/sprite.svg#css--vk"></use>
        </svg>
        <svg class="social-link">
          <use xlink:href="img/sprite.svg#css--whatsapp"></use>
        </svg>
        <svg class="social-link">
          <use xlink:href="img/sprite.svg#css--youtube"></use>
        </svg>
      </div>
      >
    </div>
    <div class="footer-button__rate" style="width: 37px; height: 34px">
      <div class="button__rate">Оценка качества услуг учреждений культуры</div>
    </div>
    <div class="footer-copyright">
      <div class="footer-privacy__policy">
        <h3 class="privacy-policy">Условия использования материалов сайта</h3>
        <h3 class="privacy-policy">Политика конфиденциальности</h3>
      </div>
      <div class="footer__gost">
        <h3 class="footer__gost">
          2021&copy; Национальный Художественный музей Республики Саха (Якутия)
        </h3>
      </div>
      <div class="footer-platforma">
        <h3>Разработано в</h3>
        <svg class="social-link">
          <use xlink:href="img/sprite.svg#css--platforma"></use>
        </svg>
      </div>
    </div>
  </div>
</footer>
