<header class="header">
  <section class='l-section l-header'>
    <div class="l-header__top">
      <div class="l-header__top-flex l-container flex --just-space">
        @@include('components/page-blocks/_mobile-menu.html')
        <div class="l-header__top-left">
          <div class="l-header__top-left__logo">
            <a href="#">
              <div class="logo">
                <svg class="img svg-logo">
                  <use xlink:href="img/sprite.svg#css--logo"></use>
                </svg>
              </div>
              <span>
                Национальный художественный музей
                Республики Саха (Якутия)
              </span>
            </a>
          </div>
        </div>
        <div class="l-header__top-right">
          <div class="l-header__top__right-service__links">
            <div class="l-service__links flex --align-center --just-end">
              <div class="l-service__links-impaired">
                <a href="" class="flex --align-center">
                  <div class="l-impaired__icon">
                    <svg class="img svg-eye_glasses">
                      <use xlink:href="img/sprite.svg#css--eye-glasses"></use>
                    </svg>
                  </div>
                  <span>
                    Версия для слабовидящих
                  </span>
                </a>
              </div>
              <div class="l-service__links-language">
                <a href="" class="flex --align-center">
                  <span>
                    РУС
                  </span>
                  <div class="l-language__icon flex --align-center">
                    <svg class="img svg-show_more">
                      <use xlink:href="img/sprite.svg#css--show_more-lang"></use>
                    </svg>
                  </div>
                </a>
              </div>
              <div class="l-service__links-search">
                <a href="#" class="flex --align-center">
                  <div class="l-search__icon flex --align-center">
                    <svg class="img svg-search">
                      <use xlink:href="img/sprite.svg#css--search"></use>
                    </svg>
                  </div>
                </a>
              </div>
              <div class="l-service__links-buyTickets">
                <a href="#" class="btn-buyTickets">
                  Купить билет
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="l-header__inner">
      <div class="l-container flex">
        <div class="l-header__inner-nav">
          <ul class="dropdown dropdown-menu-custom" data-dropdown-menu>
            <li>
              <a href="#Item-1" data-click-open="true">Посетителям</a>
              <ul class="menu menu-container">
                <div class="l-container l-container-nav">
                  <li>
                    <a href="#">
                      Билеты, льготы и беслатные дни
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Правила посещения
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Арт-кафе
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Библиотека
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Доступная среда
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Здания и часы работы
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Арт-салон
                    </a>
                  </li>
                </div>
              </ul>
            </li>
            <li>
              <a href="#Item-2">Выставки и события</a>
              <ul class="menu menu-container">
                <div class="l-container l-container-nav">
                  <li>
                    <a href="#">
                      Текущие выставки
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Новости
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Архив выставок
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Постоянные экспозиции
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Виртуальные выставки
                    </a>
                  </li>
                </div>
              </ul>
            </li>
            <li>
              <a href="#Item-3">Просвещения</a>
              <ul class="menu menu-container">
                <div class="l-container l-container-nav">
                  <li>
                    <a href="#">
                      Творческие мастерские
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Экскурсии
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Концерты и спектакли
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Публичные программы
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Лекторий
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Музей - детям!
                    </a>
                  </li>
                </div>
              </ul>
            </li>
            <li>
              <a href="#Item-4">О музее</a>
              <ul class="menu menu-container">
                <div class="l-container l-container-nav">
                  <li>
                    <a href="#">
                      История
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Руководство
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Профсоюз
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Контакты
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Частозадаваемые вопросы
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Миссия
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Документы
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Вакансии
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Опрос
                    </a>
                  </li>
                </div>
              </ul>
            </li>
            <li>
              <a href="#Item-5">Коллекция</a>
              <ul class="menu menu-container">
                <div class="l-container l-container-nav">
                  <li>
                    <a href="#">
                      Русское искусство XVIII - начала XX
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Искусство Якутии XVIII - XXI вв.
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Отечественное искусство XX - XXI вв.
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Зарубежное искусство XVI - начала XX века.
                    </a>
                  </li>
                </div>
              </ul>
            </li>
            <li>
              <a href="#Item-6">Наука</a>
              <ul class="menu menu-container">
                <div class="l-container l-container-nav">
                  <li>
                    <a href="#">
                      Издания и публикации
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Проекты
                    </a>
                  </li>
                </div>
              </ul>
            </li>
            <li>
              <a href="#Item-7">Поддержать музей</a>
              <ul class="menu menu-container">
                <div class="l-container l-container-nav">
                  <li>
                    <a href="#">
                      Попечительский совет
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Сделать пожертвования
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Фонд развития
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Стать волонтером
                    </a>
                  </li>
                </div>
              </ul>
            </li>
            <li>
              <a href="#">Пушкинская карта</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</header>
