<header class="header">
  <section class='l-section l-header'>
    <div class="l-header__top">
      <div class="l-header__top-flex l-container flex --just-space">
        <div class="l-header__top-mobile__menu">
          <div class="mobile__menu">
            <svg class="img svg-logo">
              <use xlink:href="img/sprite.svg#css--menu"></use>
            </svg>
          </div>
        </div>
        <div class="l-header__top-left">
          <div class="l-header__top-left__logo">
            <a href="#">
              <div class="logo">
                <svg class="img svg-logo">
                  <use xlink:href="img/sprite.svg#css--logo"></use>
                </svg>
              </div>
              <span>
                Национальный художественный музей
                Республики Саха (Якутия)
              </span>
            </a>
          </div>
        </div>
        <div class="l-header__top-right">
          <div class="l-header__top__right-service__links">
            <div class="l-service__links flex --align-center --just-end">
              <div class="l-service__links-impaired">
                <a href="" class="flex --align-center">
                  <div class="l-impaired__icon">
                    <svg class="img svg-eye_glasses">
                      <use xlink:href="img/sprite.svg#css--eye-glasses"></use>
                    </svg>
                  </div>
                  <span>
                    Версия для слабовидящих
                  </span>
                </a>
              </div>
              <div class="l-service__links-language">
                <a href="" class="flex --align-center">
                  <span>
                    РУС
                  </span>
                  <div class="l-language__icon flex --align-center">
                    <svg class="img svg-show_more">
                      <use xlink:href="img/sprite.svg#css--show_more-lang"></use>
                    </svg>
                  </div>
                </a>
              </div>
              <div class="l-service__links-search">
                <a href="#" class="flex --align-center">
                  <div class="l-search__icon flex --align-center">
                    <svg class="img svg-search">
                      <use xlink:href="img/sprite.svg#css--search"></use>
                    </svg>
                  </div>
                </a>
              </div>
              <div class="l-service__links-buyTickets">
                <a href="#" class="btn-buyTickets">
                  Купить билет
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="l-header__inner">
      <div class="l-container flex">
        <div class="l-header__inner-nav">
          <ul>
            <li>
              <a href="">Посетителям</a>
            </li>
            <li>
              <a href="">Выставки и события</a>
            </li>
            <li>
              <a href="">Просвещения</a>
            </li>
            <li>
              <a href="">О музее</a>
            </li>
            <li>
              <a href="">Коллекция</a>
            </li>
            <li>
              <a href="">Наука</a>
            </li>
            <li>
              <a href="">Поддержать музей</a>
            </li>
            <li>
              <a href="">Пушкинская карта</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</header>
