<section class="l-layout">
  <div class="l-container">
    <div class="l-layout-container flex --dir-col">
      <div class="l-breadcrumbs">
        <ul>
          <li>
            <a href="#">Главная</a>
          </li>
          <li>
            <a href="#">Здания и часы работы </a>
          </li>
        </ul>
      </div>
      <div class="l-title">
        <h1>Здания и часы работы</h1>
      </div>
      <div class="l-layout__wrapper flex --dir-col">
        <div class="l-events__filter">
          <ul>
            <li class="filter-title">Фильтр:</li>
            <li class="is-active">
              <a href="#">#Все</a>
            </li>
            <li>
              <a href="#">#текущие выставки</a>
            </li>
            <li>
              <a href="#">#постоянные экспозиции</a>
            </li>
          </ul>
        </div>
        //code
      </div>
    </div>
  </div>
</section>