<div class="l-header__top-mobile__menu">
  <div class="mobile__menu" data-toggle="offCanvasLeftOverlap" aria-expanded="false" aria-controls="offCanvas">
    <button type="button" class="m-header-menu-toggle">
      <div class="burger-line-top"></div>
      <div class="burger-line-mid"></div>
      <div class="burger-line-bot"></div>
    </button>
  </div>
  <div class="mobile-menu__container off-canvas position-left" id="offCanvasLeftOverlap" data-off-canvas data-transition="overlap">
    <div class="l-container">
      <div class="mobile-menu__container-button-impaired">
        <div class="l-mobile-menu__btns">
          <div class="l-service__links-buyTickets">
            <a href="#" class="btn-buyTickets">
              Купить билет
            </a>
          </div>
          <div class="l-service__links-language">
            <ul class="dropdown menu" data-dropdown-menu>
              <li>
                <a href="#" class="flex --align-center"><span>РУС</span></a>
                <ul>
                  <li>
                    <a href="#">
                      <span>Eng</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Chn</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="l-impaired__button">
          <a href="#">
            <svg class="img svg-eye_glasses">
              <use xlink:href="img/sprite.svg#css--eye-glasses"></use>
            </svg>
            <span>Версия для слабовидящих</span>
          </a>
        </div>
      </div>
      <div class="mobile-menu__container-links">
        <div class="mobile-menu__container-list">
          <ul class="vertical tabs" data-responsive-accordion-tabs="tabs small-accordion medium-tabs large-tabs" id="example-tabs">
            <li class="tabs-title is-active">
              <a href="#panel1v">Посетителям</a>
            </li>
            <li class="tabs-title">
              <a href="#panel2v">Коллекция</a>
            </li>
            <li class="tabs-title">
              <a href="#panel3v">Наука</a>
            </li>
            <li class="tabs-title">
              <a href="#panel4v">О музее</a>
            </li>
            <li class="tabs-title">
              <a href="#panel5v">выставки и события</a>
            </li>
            <li class="tabs-title">
              <a href="#panel6v">поддержать музей</a>
            </li>
            <li class="tabs-title">
              <a href="#panel7v">просвещение</a>
            </li>
            <li class="">
              <a href="#">пушкинская карта</a>
            </li>
          </ul>
        </div>
        <div class="mobile-menu__container-content">
          <div class="tabs-content" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="panel1v">
              <ul>
                <li>
                  <a href="#">
                    Билеты, льготы и беслатные дни
                  </a>
                </li>
                <li>
                  <a href="#">
                    Доступная среда
                  </a>
                </li>
                <li>
                  <a href="#">
                    Правила посещения
                  </a>
                </li>
                <li>
                  <a href="#">
                    Здания и часы работы
                  </a>
                </li>
                <li>
                  <a href="#">
                    Арт-кафе
                  </a>
                </li>
                <li>
                  <a href="#">
                    Арт-салон
                  </a>
                </li>
                <li>
                  <a href="#">
                    Библиотека
                  </a>
                </li>
              </ul>
            </div>
            <div class="tabs-panel" id="panel2v">
              <ul>
                <li>
                  <a href="#">
                    Русское искусство XVIII - начала XX
                  </a>
                </li>
                <li>
                  <a href="#">
                    Искусство Якутии XVIII - XXI вв.
                  </a>
                </li>
                <li>
                  <a href="#">
                    Отечественное искусство XX - XXI вв.
                  </a>
                </li>
                <li>
                  <a href="#">
                    Зарубежное искусство XVI - начала XX века.
                  </a>
                </li>
              </ul>
            </div>
            <div class="tabs-panel" id="panel3v">
              <ul>
                <li>
                  <a href="#">
                    Издания и публикации
                  </a>
                </li>
                <li>
                  <a href="#">
                    Проекты
                  </a>
                </li>
              </ul>
            </div>
            <div class="tabs-panel" id="panel4v">
              <ul>
                <li>
                  <a href="#">
                    История
                  </a>
                </li>
                <li>
                  <a href="#">
                    Руководство
                  </a>
                </li>
                <li>
                  <a href="#">
                    Профсоюз
                  </a>
                </li>
                <li>
                  <a href="#">
                    Контакты
                  </a>
                </li>
                <li>
                  <a href="#">
                    Частозадаваемые вопросы
                  </a>
                </li>
                <li>
                  <a href="#">
                    Миссия
                  </a>
                </li>
                <li>
                  <a href="#">
                    Документы
                  </a>
                </li>
                <li>
                  <a href="#">
                    Вакансии
                  </a>
                </li>
                <li>
                  <a href="#">
                    Опрос
                  </a>
                </li>
              </ul>
            </div>
            <div class="tabs-panel" id="panel5v">
              <ul>
                <li>
                  <a href="#">
                    Текущие выставки
                  </a>
                </li>
                <li>
                  <a href="#">
                    Новости
                  </a>
                </li>
                <li>
                  <a href="#">
                    Архив выставок
                  </a>
                </li>
                <li>
                  <a href="#">
                    Постоянные экспозиции
                  </a>
                </li>
                <li>
                  <a href="#">
                    Виртуальные выставки
                  </a>
                </li>
              </ul>
            </div>
            <div class="tabs-panel" id="panel6v">
              <ul>
                <li>
                  <a href="#">
                    Попечительский совет
                  </a>
                </li>
                <li>
                  <a href="#">
                    Сделать пожертвования
                  </a>
                </li>
                <li>
                  <a href="#">
                    Фонд развития
                  </a>
                </li>
                <li>
                  <a href="#">
                    Стать волонтером
                  </a>
                </li>
              </ul>
            </div>
            <div class="tabs-panel" id="panel7v">
              <ul>
                <li>
                  <a href="#">
                    Творческие мастерские
                  </a>
                </li>
                <li>
                  <a href="#">
                    Экскурсии
                  </a>
                </li>
                <li>
                  <a href="#">
                    Концерты и спектакли
                  </a>
                </li>
                <li>
                  <a href="#">
                    Публичные программы
                  </a>
                </li>
                <li>
                  <a href="#">
                    Лекторий
                  </a>
                </li>
                <li>
                  <a href="#">
                    Музей - детям!
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>