<div class="l-page__navigation">
  <div class="l-page__navigation-row">
    <div class="page__navigation-back">
      <a href="#">
        <svg class="img">
          <use xlink:href="img/sprite.svg#css--page-right"></use>
        </svg> 
      </a>
    </div>
    <div class="page__navigation-nums">
      <ul>
        <li>
          <a href="#" class="navigation-num page__navigation-current">
            1
          </a>
        </li>
        <li>
          <a href="#" class="navigation-num">
            2
          </a>
        </li>
        <li>
          <a href="#" class="navigation-num">
            3
          </a>
        </li>
        <li>
          ...
        </li>
        <li>
          <a href="#" class="navigation-num">
            10
          </a>
        </li>
      </ul>
    </div>
    <div class="page__navigation-next">
      <a href="#">
        <svg class="img">
          <use xlink:href="img/sprite.svg#css--page-left"></use>
        </svg> 
      </a>
    </div>
  </div>
</div>