<div class="l-detail__slider">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="#" data-fancybox="gallery" data-src="https://lipsum.app/id/1/1024x768">
          <img src="https://via.placeholder.com/592x450" alt="">
        </a>
        <div class="under-slide-container">
          <span class="slider-title">СТАРЫЙ ГОРОД. 1990</span>
          <span class="slider-desc">
            Автор: Васильев Эдуард Иосифович
            Национальный художественный музей Республики Саха (Якутия)
          </span>
        </div>
      </div>
      <div class="swiper-slide">
        <a href="#" data-fancybox="gallery" data-src="https://lipsum.app/id/2/1024x768">
          <img src="https://via.placeholder.com/970x450" alt="">
        </a>
        <div class="under-slide-container">
          <span class="slider-title">СТАРЫЙ ГОРОД. 1990</span>
          <span class="slider-desc">
            Автор: Васильев Эдуард Иосифович
            Национальный художественный музей Республики Саха (Якутия)
          </span>
        </div>
      </div>
      <div class="swiper-slide">
        <a href="#" data-fancybox="gallery" data-src="https://lipsum.app/id/3/1024x768">
          <img src="https://via.placeholder.com/592x450" alt="">
        </a>
        <div class="under-slide-container">
          <span class="slider-title">СТАРЫЙ ГОРОД. 1990</span>
          <span class="slider-desc">
            Автор: Васильев Эдуард Иосифович
            Национальный художественный музей Республики Саха (Якутия)
          </span>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="https://via.placeholder.com/592x450" alt="">
        <div class="under-slide-container">
          <span class="slider-title">СТАРЫЙ ГОРОД. 1990</span>
          <span class="slider-desc">
            Автор: Васильев Эдуард Иосифович
            Национальный художественный музей Республики Саха (Якутия)
          </span>
        </div>
      </div>
    </div>
    <div class="slider-custom-navigation">
      <div class="swiper-button-prev">
        <svg class="img slider-prev-next-icons">
          <use xlink:href="img/sprite.svg#css--slider-prev"></use>
        </svg>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next">
        <svg class="img slider-prev-next-icons">
          <use xlink:href="img/sprite.svg#css--slider-next"></use>
        </svg>
      </div>
    </div>
  </div>
</div>