<section class="l-section l-video__banner">
  <div class="l-video__banner-container">
    <div class="l-video__banner-player">
      <!-- <video
        poster="MY_VIDEO_POSTER.jpg"
        autoplay
        muted
        loop
      >
        <source src="video/stock-video.mp4" type="video/mp4" />
      </video> -->
    </div>
    <div class="l-video__banner-content">
      <div class="l-video__banner-content__title">
        <span>ДОБРО ПОЖАЛОВАТЬ В НАШ МУЗЕЙ</span>
      </div>
      <div class="l-video__banner-content__description">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Posuere ac ut dui etiam ac a dapibus vitae dui. Orci, sed ornare eget varius.
        </span>
      </div>
    </div>
  </div>
</section>