<div class="l-buy__ticket-v-form" id='app'>
  <div class="v-wrapper">
    <div class="v-left">
      <div class="v-calendar">
        <v-calendar 
          is-expanded
          :masks="masks"
          locale="ru"
          @dayclick='getDate'
        >
        </v-calendar>
      </div>
      <div class="v-time__picker" v-if="currentDate">
        <div class="v-time__picker-title">
          Выберите время
        </div>
        <div class="v-time__picker-list">
          <div 
            class="v-time__pricker-btn"
            v-for="time in times" 
            :key='time' 
            @click.prevent="setTime(time)"
            :class="{'active' : currentTime === time}"
          >
            {{ time }}
          </div>
        </div>
      </div>
      <div class="v-type__ticket" v-if="currentTime">
        <div class="v-type__ticket-header">
          <div class="v-type__ticket-title">
            ТИП БИЛЕТА
          </div>
          <div class="v-type__ticket-right">
            <div class="v-type__ticket-title">
              СТОИМОСТЬ
            </div>
            <div class="v-type__ticket-title">
              КОЛИЧЕСТВО
            </div>
          </div>
        </div>
        <div class="v-type__ticket-content">
          <ul>
            <li v-for="ticket in tickets" :key="ticket.id">
              <div class="v-type__ticket-left">
                <div class="v-type__ticket-name">{{ ticket.name }}</div>
                <div class="v-type__ticket-price">{{ ticket.price }} руб</div>
              </div>
              <div class="v-type__ticket-count">
                <a @click.prevent="removeTicket(ticket)" class="v-type__ticket-minus-plus__btn">-</a>
                <span>
                  {{ ticket.quantity ? ticket.quantity : 0 }}
                </span>
                <a @click.prevent="addTicket(ticket)" class="v-type__ticket-minus-plus__btn">+</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="v-right">
      <div class="v-right__check">
        <div class="v-right__check-info">
          <ul v-for="elem in cart">
            <li>
              Адрес
              <span>
                {{ event.address }}
              </span>
            </li>
            <li>
              Дата
              <span>
                {{ elem.date.ariaLabel }}
              </span>
            </li>
            <li>
              Время
              <span>
                {{ elem.time }} 
              </span>
            </li>
            <li v-for="ticket in elem.tickets">
              {{ ticket.name }}
              <span>
                {{ ticket.quantity }} x {{ ticket.price }}
              </span>
            </li>
          </ul>
        </div>
        <div class="v-right__check-total">
          Итого: <span>{{ total }} руб</span>
        </div>
      </div>
      <a href="#" class="v-right__check-btn">Оформить заказ</a>
    </div>
  </div>
</div>
