<div class="l-buy__ticket-v-form" id='app'>
  <div class="v-wrapper">
    <div class="v-left">
      <div class="v-calendar">
        <div class="v-calendar__header">
          <div class="v-calendar__header-left">
            <div class="v-pick_date">
              <div class="v-pick_date-icon">
                <svg class="img">
                  <use xlink:href="img/sprite.svg#css--calendar"></use>
                </svg>
              </div>
              <span>
                Выберите дату
              </span>
            </div>
            <div class="v-reset_date">
              <a href="#">
                Сбросить дату
              </a>
            </div>
          </div>
          <div class="v-calendar__nav">
            <div class="v-calendar__nav-back">
              <svg class="img">
                <use xlink:href="img/sprite.svg#css--left-white"></use>
              </svg>
            </div>
            <div class="v-calendar__nav-next">
              <svg class="img">
                <use xlink:href="img/sprite.svg#css--left-white"></use>
              </svg>
            </div>
          </div>
        </div>
        <div >
          //calendar
        </div>
      </div>
      <div class="v-time__picker">
        <div class="v-time__picker-title">
          Выберите время
        </div>
        <div class="v-time__picker-list">
          <div 
            class="v-time__pricker-btn"
            v-for='(hour, index) in hours' 
            :key='index' 
            @click='addTime(hour)'
            v-bind:class="{ active: isActive }"
          >
            {{ hour }}
          </div>
        </div>
      </div>
      <div class="v-type__ticket" v-show="pickTicket">
        <div class="v-type__ticket-header">
          <div class="v-type__ticket-title">
            ТИП БИЛЕТА
          </div>
          <div class="v-type__ticket-right">
            <div class="v-type__ticket-title">
              СТОИМОСТЬ
            </div>
            <div class="v-type__ticket-title">
              КОЛИЧЕСТВО
            </div>
          </div>
        </div>
        <div class="v-type__ticket-content">
          <ul>
            <li v-for="(item, index) in getTickets" :key="item.timeStart">
              <div class="v-type__ticket-left">
                <div class="v-type__ticket-name">{{ item.name }}</div>
                <div class="v-type__ticket-price">{{ item.price }} руб</div>
              </div>
              <div class="v-type__ticket-count">
                <a @click="deleteTicket(index)" class="v-type__ticket-minus-plus__btn">-</a>
                <span>{{ item.quantity }}</span>
                <a @click="addTicket(index)" class="v-type__ticket-minus-plus__btn">+</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="v-right">
      <div class="v-right__check">
        <div class="v-right__check-info">
          <ul v-for="(item, index) in cart.items" :key="item.id">
            <li>
              Адрес
              <span>
                Национальный музей РС(Я)Кирова 9, 3 этаж
              </span>
            </li>
            <li>
              Дата
              <span>
                29 декабря 2021
              </span>
            </li>
            <li>
              Время
              <span v-for="(item, index) in item.tickets" :key="item.id">
                {{ item.time }} 
              </span>
            </li>
            <li v-for="(item, index) in item.tickets" :key="item.id">
              {{ item.name }}
              <span>
                {{ item.quantity }} x {{ item.price }}
              </span>
            </li>
          </ul>
        </div>
        <div class="v-right__check-total">
          Итого: <span>{{ totalAmount }} руб</span>
        </div>
      </div>
      <a href="#" class="v-right__check-btn">Оформить заказ</a>
    </div>
  </div>
</div>
